services:
  - type: web
    name: tg-file-streamer
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: TG_API_ID
        sync: false
      - key: TG_API_HASH
        sync: false
      - key: TG_SESSION_STRING
        sync: false
      - key: PORT
        value: 10000